/*--------------------------------------------------------BODY-------------------------------------------------------*/

body{
  background-color: black;
  color: white;
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.imagenFondo{
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/*--------------------------------------------------------Titulo y logo-------------------------------------------------------*/

h1 {
  text-align: center;
  font-size: 4rem;
  text-shadow: 0 0 40px #ff0000;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 50px;
}

.logoTexto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 80px;
  margin-left: 25rem;
}

/*--------------------------------------------------------Main-------------------------------------------------------*/

main {
  background: linear-gradient(to bottom, #1e0c1b, #2a1125);
  padding: 0 0 3rem 0;
  margin-left: 55rem;
  max-width: 600px;
  border-radius: 10px;
  text-align: center;
}



/*--------------------------------------------------------Boton volver al inicio-------------------------------------------------------*/

.botonVolver {
  display: inline-block;
  padding: 1rem 1rem;
  background-color: grey;
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}


/*--------------------------------------------------------RESPONSIVE-------------------------------------------------------*/


/*--------------------------------------------------------MOBILE (360px a 767px)-------------------------------------------------------*/

@media ( 360px <= width <= 767px) {

  .logo {
    margin-left: 0;
    height: 60px;
  }

  h1 {
    font-size: 2.5rem;
  }

  main {
    margin: 2rem auto;
    padding: 2rem 1rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

/*--------------------------------------------------------------TABLET (768px a 1200px)----------------------------------------------------------*/


@media ( 768px <= width <= 1200px) {

  .logo {
    margin-left: 0;
  }

  main {
    margin: 5rem auto;
    width: 70%;
  }
}