/*--------------------------------------------------------BODY-------------------------------------------------------*/



body{
  background-color: black;
  color: white;
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.imagenFondo{
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}



/*--------------------------------------------------------Titulo y logo-------------------------------------------------------*/

h1 {
  text-align: center;
  font-size: 4rem;
  text-shadow: 0 0 40px #ff0000;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 50px;
}

.logoTexto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 80px;
  margin-left: 25rem;
}



/*--------------------------------------------------------Main-------------------------------------------------------*/

main {
  background: linear-gradient(to bottom, #1e0c1b, #2a1125);
  padding-left: 0rem;
  padding-right: 0rem;
  padding-bottom: 3rem;
  margin-left: 55rem;
  max-width: 600px;
  border-radius: 10px;
  text-align: center;
}



/*--------------------------------------------------------Boton volver al inicio-------------------------------------------------------*/

.botonVolver{
  justify-content: center;
  padding: 1rem 1rem;
  background-color: grey;
  border: 2px solid ;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}