/*--------------------------------------------------------BODY-------------------------------------------------------*/



body{
  background-color: black;
  color: white;
}

.imagenFondo{
width: 100%;
height: auto;
}


/*--------------------------------------------------------NAV------------------------------------------------------*/

nav {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

nav ul {
  display: flex;
  gap: 2em;
  list-style: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  padding: 0.5em 1em;
  border-radius: 10px;
  transition: all 0.3s;
}

nav a:hover,
nav .ubicacion {
  color: #a34096;
  background-color: rgba(255, 255, 255, 0.1);
}



/*--------------------------------------------------------Titulo y logo-------------------------------------------------------*/

h1 {
  text-align: center;
  font-size: 4rem;
  text-shadow: 0 0 40px #ff0000;
}

h2 {
  font-size: 2rem;
  margin-bottom: 50px;
}

.logoTexto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 80px;
}



/*--------------------------------------------------------Main-------------------------------------------------------*/

main {
  background: linear-gradient(to bottom, #1e0c1b, #2a1125);
  padding: 3% 5%;
  margin: 4% auto;
  max-width: 70%;
  border-radius: 10px;
}



/*--------------------------------------------------------formulario-------------------------------------------------------*/

.contacto{
  margin-top: 40px;
  background-color: linear-gradient(to bottom, black);
  padding: 3% 5%;
  border-radius: 10px;
  max-width: 70%;
  margin-inline: auto;
}

.tituloForm{
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.texto{
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 30px;
}

.formularioContacto {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.campo input,
.campo textarea {
  padding: 0.5rem ;
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  outline: none;
  transition: 0.3s;
}

.btnEnviar {
  margin-top: 0.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #570749;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btnEnviar:hover {
  transform: scale(1.05);
}


.botonVolver{
  display: inline-block;
  padding: 1rem 1rem;
  background-color: grey;
  border: 2px solid ;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/*--------------------------------------------------------Redes-------------------------------------------------------*/

.titulo{
  margin-top: 60px;
  display: inline-block;
  padding-bottom: 10px
}

.redes{
  list-style: none;
  padding: 0;
  text-align: left;
}

.item{
  background-color: rgba(255, 255, 255, 0.05);
  margin-bottom: 20px;
  padding: 20px;
  border-left: 5px solid #570749;
  border-radius: 0 10px 10px 0;
}

.listaRedes{
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin-top: 15px;
  flex-wrap: wrap;
}

.enlases{
  display: inline-block;
  padding: 8px 20px;
  background-color: transparent;
  border: 1px solid #a34096;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.reparacion{
  display: inline-block;
  color: #ffb3b3;
  font-size: 0.8rem;
  background-color: rgba(100, 0, 0, 0.3);
  border: 1px solid #8b0000;
  padding: 5px 15px;
  border-radius: 4px;
}


/*--------------------------------------------------------Footer-------------------------------------------------------*/



footer {
  text-align: center;
  padding: 2em;
  background-color: #1a0a1a;
  font-size: 1rem;
}

.foterRedes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.foterRedes ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
}

.foterRedes a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.foterRedes a:hover {
  color: #a34096;
}