/*--------------------------------------------------------BODY-------------------------------------------------------*/

.imagenFondo{
width: 100%;
height: auto;
}

body {
  background-color: black;
  color: white;
  font-family: 'Cinzel', serif;
}



/*--------------------------------------------------------Barra de navegacion-------------------------------------------------------*/

nav {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

nav ul {
  display: flex;
  gap: 2em;
  list-style: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  padding: 0.5em 1em;
  border-radius: 10px;
  transition: all 0.3s;
}

nav a:hover,
nav .ubicacion {
  color: #a34096;
  background-color: rgba(255, 255, 255, 0.1);
}



/*--------------------------------------------------------Titulo y logo-------------------------------------------------------*/

h1 {
  text-align: center;
  font-size: 4rem;
  text-shadow: 0 0 40px #ff0000;
}

h2 {
  font-size: 2rem;
  margin-bottom: 50px;
}


.logoTexto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.logo{
  height: 80px;
}

/*--------------------------------------------------------Main-------------------------------------------------------*/

main {
  background: linear-gradient(to bottom, #1e0c1b, #2a1125);
  padding: 3% 5%;
  margin: 4% auto;
  max-width: 70%;
  border-radius: 10px;
}

/*--------------------------------------------------------elenco-------------------------------------------------------*/

.personaje {
  display: flex;
  margin-bottom: 50px;
  background-color: rgba(247, 247, 247, 0.05);
  padding: 10px;
  border-radius: 10px;
}


.descripcion {
  font-size: 18px;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.foto1 ,.foto2 {
    width: 230px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.foto1:hover, .foto2:hover {
  transform: scale(1.50);
  box-shadow: 0 10px 20px rgba(255,255,255,0.3);
}



/*--------------------------------------------------------Footer-------------------------------------------------------*/


footer {
  text-align: center;
  padding: 2em;
  background-color: #1a0a1a;
  font-size: 1rem;
}

.foterRedes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.foterRedes ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
}

.foterRedes a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.foterRedes a:hover {
  color: #a34096;
}
